[Unit]
Description=Kitchensound Service
After=multi-user.target

[Service]
User=pi
Type=idle
WorkingDirectory=/home/pi/kitchensound/cmake-build-release-kitchensound/
ExecStart=/home/pi/kitchensound/cmake-build-release-kitchensound/kitchensound

Restart=always
RestartSec=10
StartLimitBurst=5
StartLimitInterval=100

[Install]
WantedBy=multi-user.target